<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.5">
  <display-name>first</display-name>
  <welcome-file-list>
    <welcome-file>IniciarSesion</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>IniciarSesion</display-name>
    <servlet-name>IniciarSesion</servlet-name>
    <servlet-class>IniciarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarSesion</servlet-name>
    <url-pattern>/IniciarSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearEmpleado</display-name>
    <servlet-name>CrearEmpleado</servlet-name>
    <servlet-class>CrearEmpleado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearEmpleado</servlet-name>
    <url-pattern>/CrearEmpleado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Menu</display-name>
    <servlet-name>Menu</servlet-name>
    <servlet-class>Menu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Menu</servlet-name>
    <url-pattern>/Menu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrarTarea</display-name>
    <servlet-name>RegistrarTarea</servlet-name>
    <servlet-class>RegistrarTarea</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarTarea</servlet-name>
    <url-pattern>/RegistrarTarea</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrarEmpleado</display-name>
    <servlet-name>RegistrarEmpleado</servlet-name>
    <servlet-class>RegistrarEmpleado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarEmpleado</servlet-name>
    <url-pattern>/RegistrarEmpleado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrarVenta</display-name>
    <servlet-name>RegistrarVenta</servlet-name>
    <servlet-class>RegistrarVenta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarVenta</servlet-name>
    <url-pattern>/RegistrarVenta</url-pattern>
  </servlet-mapping>
</web-app>